*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

li,p{
    margin: 0;
}

ul{
    padding: 0;
}

:root{
    --blue-color: #1b4de4;
    --blueNav-color: #005986;
    --grayBlue-color: #295360;
    --white-color: #fff;
    --text-color:#2b2b2b;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    /* background-image: linear-gradient(0deg,#d8eeee,#d8eeee 25%,#64adc9 65%,#005986 90%,#005986);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    */
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 20px; */
    background-color: var(--blueNav-color);
    padding: 11px 11px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
}

.logo{
    font-size: 30px;
    color: var(--white-color);
}

.nav-search{
    padding: 5px 6px;
    border-radius: 20px;
    text-align: center;
    background-color: #fff3;
    /* color: var(--white-color); */
    border: 0;
    width: 365px;
}

.input-search{
    width: 85%;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--white-color);
}

.btn-search{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--white-color);
}

.nav-change{
    align-items: center;
    color: var(--white-color);
}


.content-test{
    margin-top: 80px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
}

.card-weather{
    background-color: var(--white-color);
    border-radius: 5px;
    box-shadow: 0 0 12px 0 #0003;
    width: 800px;

}

.card-weather-header{
    padding: 16px 26px 6px;
}

.card-hour{
    padding: 0 26px 21px;
}

.hourlyDate{
    padding: 10px 26px;
    border-top: 1px solid #dedede;
}

.detail-summary{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    padding: 10px 26px;
}

.daypart-conditon{
    text-align: center;
    display: flex;
    align-items: center;
}

.dailypart-sub{
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #dedede;
    border-radius: 6px;
    margin: 0;
    padding: 15px;
}

.dailypart-content{
    padding: 5px 26px 15px;
}

.detailpart-sub-item{
    width: 33.3333%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.card-detail{
    border-top: 1px solid #dedede;
}

.dailypart-sub .detailpart-sub-item i{
    color: #1b4de4;
}